/* src/component/CustomerView.css */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.form-horizontal {
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.col-form-label {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

#groupName,
#contactName,
#contactPhone,
#contactEmail,
#groupSize,
#visitDate,
#additionalRequests {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.view-button{
  background-color: #8cb8e7;
  border-color: #007bff;
  padding: 10px 20px;
  font-size: 16px;
}

.view-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
