/* src/css/NoticeWrite.css */

/* 공지사항 작성 페이지 스타일 */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}


 .write{
  padding:20px;
  padding-left: 30px;
 }
 .write div {
  margin-top: 30px;
  margin-left: 50px;
 }
 .title_txt {
  width: 87%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border-bottom: solid 1px #ababab;
  font-weight: bold;
 }
 .title_txt:focus {outline: none;}

 .content_txt{
  width: 91%;
  resize: none;
  border: none;
  height: 500px;
 }

.content_txt:focus{outline: none;}

.post_submit{
  text-align: center;
  margin-top: 30px;
}

.post_submit button {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #ababab;
  cursor: pointer;
  background-color: white;
}




