/*** Mypage 메인 CSS ***/
.mypageContainer {
    width: 90%;
    margin: 20px auto;
}

.mypageUserForm {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 50px;
    justify-content: center;
    box-sizing: content-box;
}

.mypageUserForm .mypageGrade {
    display: inline;
    padding: 5px 10px;
    background-color: gray;
    border-radius: 15px;
    color: white;
}

.mypageUserForm .mypageWelcome {
    font-weight: bolder;
}

/*** Mypage 네비바 CSS ***/
.mypageNav {
    width: 70%;
    margin: 0 auto;
}

.mypageNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 20px;
}

.mypageNav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #adadad;
}

.mypageNav ul li a:hover {
    color: black;
}

.mypageNav ul li .active {
    color: black;
    border-bottom: 1px solid black;
}

/*** Mypage 내역 공통 CSS ***/
.contentMainContainer {
    width: 70%;
    margin: 0 auto;
}

.contentMainContainer .outBox {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.contentMainContainer .outBox .inBox p{
    font-size: x-large;
    font-weight: bolder;
}

.contentMainContainer .outBox .inBox img {
    width: 75px;
    height: 75px;
}

/*** Mypage 예매내역 CSS ***/
.reservationListBox {
    width: 95%;
    height: 100%;
    margin-top: 50px;
}

.reservationListBox .listBox {
    width: 100%;
    height: 110px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.reservationListBox .listBox .area1 {
    width: 115px;
    margin-right: 20px;
}

.reservationListBox .listBox .area1 small {
    color: #5a5a5a;
}

.reservationListBox .listBox .area2 {
    width: 100px;
}

.reservationListBox .listBox .area2 img {
    width: 75px;
    height: 110px;
    margin: auto;
}

.reservationListBox .listBox .area3 {
    width: 60%;
}

.reservationListBox .listBox .area3 .movieTitle {
    font-size: large;
}

.reservationListBox .listBox .area3 b {
    font-size: small;
}

.reservationListBox .listBox .area4 {
    width: 140px;
    padding: 20px 0px;
    text-align: center;
}

.reservationListBox .listBox .area4 .mypageBtn {
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

/** Modal 창 CSS **/
.modalBtn {
    padding: 10px 0px;
    display: flex;
    justify-content: right;
}

.modalBtn .mypageModal {
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: content-box;
}

/*** Mypage 구매, 취소내역 CSS ***/
.boughtContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.boughtContainer .contentContainer {
    width: 38.5%;
}

.boughtContainer .contentContainer h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.boughtContainer .contentContainer .outBox {
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    border: 2px solid #ccc;
    border-radius: 10px;
}

.boughtContainer .contentContainer .outBox .inBox p{
    font-size: x-large;
    font-weight: bolder;
}

.boughtContainer .contentContainer .outBox .inBox img {
    width: 75px;
    height: 75px;
}

.boughtListBox {
    width: 100%;
    height: 100%;
}

.boughtListBox .listBox {
    width: 92%;
    height: 110px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin-bottom: 7px;
    box-sizing: content-box;
}

.boughtListBox .listBox .area1 {
    width: 90px;
}

.boughtListBox .listBox .area1 small {
    color: #5a5a5a;
}

.boughtListBox .listBox .area2 {
    width: 80px;
    margin-right: 5px;
}

.boughtListBox .listBox .area2 img {
    width: 75px;
    height: 110px;
    margin: auto;
}

.boughtListBox .listBox .area3 {
    width: 280px; 
}

.boughtListBox .listBox .area3 .titlediv {
    width: 280px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.boughtListBox .listBox .area3 .titlediv .listTitle {
    font-size: large;
}

.boughtListBox .listBox .area3 b {
    font-size: small;
}

.boughtListBox .listBox .area4 {
    width: 100px;
    padding-top: 10px;
    text-align: end;
}

.boughtListBox .listBox .area4 .mypageBtn {
    padding: 5px 5px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
