/****** Nav Css ******/
.header {
  background-color: #f5f5f5;
  padding: 50px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

nav {
  background-color: #f5ebeb;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px; /* 상단 헤더와의 간격 */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* 메뉴 항목을 균등하게 배치 */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: black; /* 텍스트 색상 수정 */
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}

nav ul li a:hover {
  background-color: #d3cece;
  border-radius: 4px;
}
