/* 슬라이드 배경 이미지에 맞춰 변경되는 그림자 */
.slider-container {
  width: 80%;
  height: 1000px;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.play1 {
  position: absolute;

 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 
 
}
.play2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.play3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.play4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.play5{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.bootplay1  {
  
  color: rgba(255, 255, 255, 0.8); /* 흰색 아이콘을 반투명하게 */
  background: none;
  border: none;
}
.bootplay2  {
  
  color: rgba(255, 255, 255, 0.8); /* 흰색 아이콘을 반투명하게 */
  background: none;
  border: none;
}
.bootplay3  {
  
  color: rgba(0, 0, 0, 0.8); /* 흰색 아이콘을 반투명하게 */
  background: none;
  border: none;
}
.bootplay4  {
  
  color: rgba(255, 255, 255, 0.8); /* 흰색 아이콘을 반투명하게 */
  background: none;
  border: none;
}
.bootplay5  {
  
  color: rgba(255, 255, 255, 0.8); /* 흰색 아이콘을 반투명하게 */
  background: none;
  border: none;
}

.play1option{
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;

}
.slide-slider {
  
  height: auto;
  width: 100%;
 
  background-position: center;
 
  
}

.slide1 {
  background-image: url('/public/img/first.jpg');
  background-size: 80%;
  background-size: contain ;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* 짙은 그림자 */
}

.slide2 {
  background-image: url('/public/img/exit.jpg');
  background-size: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* 비교적 연한 그림자 */
}

.slide3 {
  background-image: url('/public/img/deadpool.jpg');
  background-size: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7); /* 더 진한 그림자 */
}

.slide4 {
  background-image: url('/public/img/furyroad.jpg');
  background-size: 100%;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4); /* 중간 정도의 그림자 */
}

.slide5 {
  background-image: url('/public/img/super.jpg');
  background-size: 100%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); /* 짙은 그림자 */
}
/* 비디오 스타일 */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2000px;
  height: 2000px;
}



/* 닫기 버튼 스타일 */
.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-button:hover {
  background-color: #f1f1f1;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-button {
  color: white;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.movies-container {
  display: flex;
  justify-content: space-between; /* 포스터 사이 간격을 자동으로 조정 */
  padding: 20px;
  

}

/* 각 포스터 컨테이너 */
.movie-gallery {
  margin-left: 50px;
  display: flex;
  gap: 300px; /* 포스터 사이의 간격 조정 */
  justify-content: space-between;
  
  
}

.movie-poster-container {
  position: relative;
  width: 300px; /* 포스터 너비 설정 */
  
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
 
}

.movie-info {
  text-align: center;
  margin-top: 10px;
}

.infomation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  transition: opacity 0.3s ease;
   border: 100px lightblue;
}

.movie-poster-container:hover .infomation {
  opacity: 1;
}

.infomation a {
  color: #fff;
  background-color: #ff4757;
  padding: 10px 20px;
  margin: 5px 0;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.infomation a:hover {
  transform: scale(1.1);
}