<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.six.mapper.MypageMapper">
	<select id="getMovieList" resultType="com.six.dto.Moviepay">
		select * from moviepay
		where member_no = #{memberNo}
	</select>
	
	<select id="getMovieAll" resultType="com.six.dto.Movie">
		select * from movie
	</select>
	
	<update id="cancelReservation" parameterType="int">
		update moviepay
		set moviepay_refund = 'Y'
		where moviepay_no = #{moviepayNo}
	</update>
	
	<select id="getItempayList" resultType="com.six.dto.ItempayMypage">
		select ip.itempay_no, i.item_image, i.item_name, ip.itempay_date, ip.itempay_price, ip.itempay_count, ip.itempay_buyer, ip.itempay_email, ip.itempay_receipt
		from itempay ip 
		left join item i on ip.item_no = i.item_no
		where ip.member_no = #{memberNo}
		and ip.itempay_refund = 'N'
	</select>
	
	<update id="cancelItempay" parameterType="int">
		update itempay
		set itempay_refund = 'Y'
		where itempay_no = #{itempayNo}
	</update>
</mapper>